<div>
    <h1>bienvenido</h1>
    <h2>Nombre: <span id="myName"></span></h2>

    <div>
        <p>Escribe un mensaje: <input type="text" name="" id="chatBox"></p>
        <button id="closeChat">close chat</button>
    </div>

    <div>
        <p id="chatLog"></p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>